*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'poppins', sans-serif;
}

body{
    background-color: #bfb6ac;
    
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px;
    background-color: #a5a3a3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.icon{
    cursor: pointer;
    margin-right: 20px;
}

.icon-navbar{
    padding: 10px;
    height: 50px;
}

.detail-product{
  justify-content: center; /* Mengatur rata tengah secara horizontal */
  align-items: center; /* Mengatur rata tengah secara vertikal */
}

.table{
    margin-bottom: 30px;
    margin-top: 32px;
    height: auto;
}

.name-product{
    width: 450px;
    text-align: left;
    vertical-align: top;
}

.product-name{
    margin-left: 20px;
    margin-top: 5px;
}

.img-product{
    width: 150px;
    height: auto;
    vertical-align: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

td, th{
    text-align: center;
}

a {
    color: black; /* Warna hitam */
}

a:hover {
    color: gray; /* Warna abu-abu saat dihover */
}

.btn-box{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close-box{
    width: 7%;
    vertical-align: top;
}

.subtotal{
    width: 20%;
    vertical-align: bottom;
}

.btn-jumlah{
    width: 30px;
}

.pilihan{
    vertical-align: top;
}

.size{
    height: 5px;
}

.tabel-tinggi-kolom{
    width: 100%;
}

.garis-pembatas{
    width: 80%;
}

.btn-buy{
    float: right;
    margin-right: 20%;
    margin-bottom: 30px;
    background-color: #a5a3a3;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.btn-buynow{
    padding: 10px 20px;
}

#tombolCheckout{
    padding: 10px 20px;
    cursor: pointer;
    align-items: center;
}

.contoh-tabel{
    z-index: 1;
    display: flex;
  justify-content: center; /* Mengatur rata tengah secara horizontal */
  align-items: center; /* Mengatur rata tengah secara vertikal */
  height: 100vh; /* Opsi: Mengisi seluruh tinggi tampilan */
}