
.all-produk{
    display: grid;
    place-items: center;
}

.detail-produk{
    margin-top: 50px;
    background-color: #a5a3a3;

}

.name-product{
    width: 450px;
    text-align: left;
    vertical-align: top;
}

.product-name{
    margin-left: 20px;
    margin-top: 5px;
}

.img-product{
    width: 150px;
    height: auto;
    vertical-align: auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

td, th{
    text-align: center;
}

.btn-box{
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: top;
}

.btn-closebox{
    width: 30%;
    cursor: pointer;
    vertical-align: top;
}

.close-box{
    width: 7%;
    vertical-align: top;
}

.subtotal{
    width: 10%;
    vertical-align: bottom;
}

.btn-jumlah{
    width: 30px;
}

.pilihan{
    vertical-align: top;
}

.size{
    height: 5px;
}

.tabel-tinggi-kolom{
    width: 100%;
}

.garis-pembatas{
    width: 73%;
}

.btn-buy{
    float: right;
    margin-right: 20%;
    margin-bottom: 30px;
    background-color: #a5a3a3;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-buynow{
    padding: 10px 20px;
}

#tombolCheckout{
    padding: 10px 20px;
    cursor: pointer;
    align-items: center;
}

/* ... (costom moal) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding: 200px 200px;
    background-color: rgba(0, 0, 0, 0.5); /* Warna latar belakang dengan transparansi */
    padding-top: 60px;
   
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 10%; /* Lebar konten modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    margin-top: 3px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




